<div class="card account-card">
  <div class="container">
    <div class="header text-center">
      <img src="../assets/images/logo.png" alt="logo"/>
      <hr>
    </div>

    <div class="body">
      <h5 class="mb-4 text-center mt-5">Log Into Your Account</h5>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off" ngNativeValidate>
        <div class="form-group">
          <label for="username">Email address</label>
          <input type="email" class="form-control" id="username" aria-describedby="emailHelp"
                 placeholder="you@domain.com" [(ngModel)]="user.username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password"
                 placeholder="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="busy"><span *ngIf="!busy">Log In</span> <span
          *ngIf="busy" class="fa fa-spinner fa-spin"></span></button>
      </form>

      <p class="mt-4 mb-5 text-center"><a style="text-decoration: underline;" [routerLink]="['/forgot-password']">Forgot
        password?</a></p>
    </div>
  </div>
</div>


