<div class="container-fluid mt-7">
  <h5 class="heading alert-heading mb-2">Users</h5>
  <div class="card mb-3">
    <div class="card-header border-bottom-0 pt-3 pb-0 bg-transparent">
     <div class="row">
       <div class="col-8"></div>
       <div class="col-4 d-flex justify-content-end">
         <app-search [(data)]="data"></app-search>
       </div>
     </div>
    </div>
    <div class="card-body pt-3">
      <div class="table-responsive">
        <table class="table table-striped table-hover" [ngBusy]="data.busy">
          <thead>
          <tr>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'name'">
                Name
              </app-arrange-col>
            </th>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'email'">
                Email
              </app-arrange-col>
            </th>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'phone'">
                Phone
              </app-arrange-col>
            </th>
            <th scope="col" width="95">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'access'">
                Status
              </app-arrange-col>
            </th>
            <th>
              Actions
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data.list; let index = index;">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <a class="btn btn-danger btn-sm" href="javascript:void(0)" (click)="openDeleteDialog(item._id, index)"><span class="fa fa-trash"></span></a>
            </td>
          </tr>
          <tr *ngIf="data.busy.closed && !data.list.length">
            <td class="text-center" colspan="7">
              No Records Found
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer border-top-0 pt-0 pb-2 bg-transparent">
      <app-pagination [(data)]="data"></app-pagination>
    </div>
  </div>
</div>
