<form #form="ngForm" (ngSubmit)="onSubmit()" autocomplete="off" ngNativeValidate [ngBusy]="busy">
  <div class="modal-header">
    <h5 class="modal-title">Create New Admin</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
             placeholder="enter name" [(ngModel)]="user.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
             placeholder="you@domain.com" [(ngModel)]="user.email" name="enter email address" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password"
             placeholder="password" required>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" style="width: 75px;" class="btn btn-primary">Save</button>
  </div>
</form>
