<div class="container-fluid mt-7">
  <h5 class="heading alert-heading mb-2">Admins</h5>
  <div class="card mb-3">
    <div class="card-header border-bottom-0 pt-3 pb-0 bg-transparent">
      <div class="row">
        <div class="col-8">
          <button class="btn btn-default" (click)="addDialog()"><span class="fa fa-plus"></span> Add</button>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <app-search [(data)]="data"></app-search>
        </div>
      </div>
    </div>
    <div class="card-body pt-3">
      <div class="table-responsive">
        <table class="table table-striped table-hover" [ngBusy]="data.busy">
          <thead>
          <tr>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'name'">
                Name
              </app-arrange-col>
            </th>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'email'">
                Email
              </app-arrange-col>
            </th>
            <th scope="col">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'isSuperAdmin'">
                Role
              </app-arrange-col>
            </th>
            <th scope="col" width="140">
              <app-arrange-col
                [(data)]="data"
                [nameAttr]="'isBlocked'">
                Status
              </app-arrange-col>
            </th>
            <th>
              Actions
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data.list; let index = index;">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.isSuperAdmin ? 'Super Admin' : 'Admin'}}</td>
            <td>
             <span class="badge" [ngClass]="item.isBlocked ? 'badge-danger': 'badge-success'">{{item.isBlocked ? 'Blocked': 'Active'}}</span>
              <a class="btn btn-sm btn-xs" [ngClass]="item.isBlocked ? 'btn-success': 'btn-warning'" href="javascript:void(0)"
                 (click)="openStatusDialog(item)">
                {{item.isBlocked ? 'Unblock': 'Block'}}
              </a>
            </td>
            <td>
              <a *ngIf="!item.isSuperAdmin" class="btn btn-sm btn-xs btn-danger" href="javascript:void(0)" (click)="openDeleteDialog(item._id, index)"><span class="fa fa-trash"></span></a>
            </td>
          </tr>
          <tr *ngIf="data.busy.closed && !data.list.length">
            <td class="text-center" colspan="7">
              No Records Found
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer border-top-0 pt-0 pb-2 bg-transparent">
      <app-pagination [(data)]="data"></app-pagination>
    </div>
  </div>
</div>
